@use "variables" as var;
@use "mixin";

.footer {
    background-color: var.$orange;
    width: calc(100% + 20px);
    margin-left: -10px;
    text-align: center;

    @include mixin.mq(tab) {
        width: calc(100% + 60px);
        margin-left: -30px;
    }

    @include mixin.mq(pc) {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
    }

    &__contents {
        @include mixin.mq(pc) {
            width: 1050px;
            margin: 0 auto;
        }
    }

    &__text {
        color: var.$white;
        font-size: var.rem(14);
        line-height: 1;
    }
}
